.search-input-container{

    position: relative;
}
.search-input-container input{
    width: 100%;
    /* height: 40px; */
    padding-right: 36px;
    border: none;
    margin-bottom: 20px;
    padding: 12px;

}
.search-input-container .close{
    position: absolute;
    top: 9px;
    right: 7px;
}