.search-container{
    max-width: 600px;
    width: 100%;
    background-color: #212a3c;

}
.search-container .heading-section h1 {
    color: white;
    text-align: left;
    font-size: 32px;
    margin-bottom: 20px;
}

